@if (paginatedResult(); as paginatedResult) {
    <div class="flex flex-col w-full animate-fade-in-up">
        <div class="flex justify-between items-center">
            <div class="tabs tabs-box tabs-lg rounded-full bg-base-200/50 text-primary w-fit p-1">
                @for (tab of tabs; track $index) {
                    <button role="tab" class="tab rounded-full transition-all duration-200" 
                        [class.tab-active]="predicate === tab.value"
                        (click)="setPredicate(tab.value)"
                    >
                        {{tab.label}}
                    </button>
                }
            </div>
            @if (paginatedResult.metadata; as metadata) {
                <app-paginatior
                    [hidden]="metadata.totalCount === 0"
                    [pageNumber]="metadata.currentPage"
                    [pageSize]="metadata.pageSize"
                    [totalCount]="metadata.totalCount"
                    [totalPages]="metadata.totalPages"
                    (pageChange)="onPageChange($event)"
                />
                
            }
        </div>
        @if (paginatedResult.items; as members) {
            @if (members.length > 0) {
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6">
                    @for (member of members; track member.id) {
                        <app-member-card [member]="member" />
                    }
                </div>
            } @else {
                <div class="mt-10 text-center">
                    <div class="text-6xl mb-3">💔</div>
                    <div class="text-lg text-base-content/50">There are no results for this filter</div>
                </div>
            }
        }
    </div>
}

